extends layout

block content
  - var hasNetRoute = nextRoute === undefined ? false : true;
  - var nextRouteHidden = hasNetRoute ? "visibility:visible" : "visibility:hidden"
  - var picturesLinkHidden = hasNetRoute ? "visibility:hidden" : "visibility:visible"
  div(class='container')
    div(class="row text-center top-buffer" style=picturesLinkHidden)
      p(class='text-center lead') A kocsmatúra utolsó helyét is elértük, irány a Rocktogon!
      button(class='btn btn-link', href=nextRoute) Link régi margitos képekhez
    div(class="embed-responsive embed-responsive-16by9")
      iframe(src=mapSource width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
    div(class="row text-center top-buffer" style=nextRouteHidden)
      a(class='btn btn-default', href=nextRoute) Jöhet a következő kocsma, itt már eleget ittam!