extends layout

block content
  h1(class='text-center') Érettségi 2016
  pre(class='text-center') Az első helyszín (és felesek..) előtt bizony még egyszer át kell menned ... Valami ilyen szöveg kéne ide

  form(name='erettsegi', method='post', role='form', action=postRoute)
        - var matek1Class = answers.matek1 === undefined ? "form-group" : "form-group has-success has-feedback"
        - var matek1Glyphicon = answers.matek1 === undefined ? "visibility:hidden" : "visibility:visible"
        - var szeretiatikStyle = answers.szeretiatik === undefined ? "" : "color:#3c763d"
        - var szeretiatikGlyphicon = answers.szeretiatik === undefined ? "visibility:hidden" : "visibility:visible"
        - var successStyle = passed === false ? "visibility:hidden" : "visibility:visible"

        div(class =matek1Class)
            label Ha te 2 sört szeretnél este inni és Zsolti nálad 2x annyit szokott meginni, akkor hány sört hozol a boltból?
            input(type='text', class='form-control', name='matek1', value=answers.matek1)
            span(class="glyphicon glyphicon-ok form-control-feedback", style=matek1Glyphicon)
        label Egészítsd ki a mondatot: "Szereti a tik a meggyet..."
        div.radio
            label
              input(type='radio', name='szeretiatik', value='tizen')
              | Tizen szeretünk mi kettőt!
        div.radio
            label(style=szeretiatikStyle)
              input(type='radio', name='szeretiatik', value='helyes', checked=answers.szeretiatik)
              | Ketten szeretünk mi egyet!
              span(class="glyphicon glyphicon-ok form-control-feedback", style=szeretiatikGlyphicon)
        div.radio
            label
              input(type='radio', name='szeretiatik', value='jesszus')
              | Jesszus...
        button(type='submit', class='btn btn-default') Mehet

  div(class='text-center')
    pre(style=successStyle class='text-center bg-success') A megfejtés: REGE!
    a(href=nextRoute class='btn btn-large btn-default' style=successStyle) Indulás